<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <servlet>
    <description></description>
    <display-name>VMS_Servlet</display-name>
    <servlet-name>VMS_Servlet</servlet-name>
    <servlet-class>VMS.Controller.VMS_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VMS_Servlet</servlet-name>
    <url-pattern>/VMS_Servlet</url-pattern>
  </servlet-mapping>
  <display-name>Vehicle-Management</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>VMS_MRR_Controller</display-name>
    <servlet-name>VMS_MRR_Controller</servlet-name>
    <servlet-class>VMS.Controller.VMS_MRR_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VMS_MRR_Controller</servlet-name>
    <url-pattern>/VMS_MRR_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VMS_Edit_Controller</display-name>
    <servlet-name>VMS_Edit_Controller</servlet-name>
    <servlet-class>VMS.Controller.VMS_Edit_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VMS_Edit_Controller</servlet-name>
    <url-pattern>/VMS_Edit_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VMS_Delete_Controller</display-name>
    <servlet-name>VMS_Delete_Controller</servlet-name>
    <servlet-class>VMS.Controller.VMS_Delete_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VMS_Delete_Controller</servlet-name>
    <url-pattern>/VMS_Delete_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VMS_Del_Controller</display-name>
    <servlet-name>VMS_Del_Controller</servlet-name>
    <servlet-class>VMS.Controller.VMS_Del_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VMS_Del_Controller</servlet-name>
    <url-pattern>/VMS_Del_Controller</url-pattern>
  </servlet-mapping>
</web-app>